numpy==1.17.3
opencv-python-headless
pandas==0.25.3
python-telegram-bot==12.2.0
telegram==0.0.1

tensorflow==2.0.0a0

# =======
# pandas
pickle-mixin
# tensorflow
# opencv-python
# python-telegram-bot
